body{
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

/*Background Image*/
.header {
    height: 95vh;
    background-image: 
        linear-gradient(to right bottom , rgba(102,255,102,0.7), 
        rgba(230,255,230,0.5)),
        url(img/bg.jpeg);
    background-size: cover;
    background-position: top;
    opacity: 0.6;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    position: relative;
}

/*Text*/

.heading {
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.heading-main {
    font-size: 50px;
    display: block;
    letter-spacing: 15px;

}

.heading-sub {
    font-size: 30px;
    display: block;
    letter-spacing: 5px;
}

/*Logo*/

.logo-box {
    position: absolute;
    left: 30px;
    top: 40px;
}

.logo {
   height: 50px;
}